.main {
  padding: 20px 100px;
}

.main-text {
  color: #fff;
  background: rgba(00, 00, 00, 0.5);
  text-align: center;
  padding: 50px;
}

.main-text h4 {
  font-size: 40px;
  margin-bottom: 15px;
}

.main-text p {
  font-size: 20px;
  margin-bottom:10px;
}